.listCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemBox {
    border: 1px solid #ccc;
    display: flex;
    flex: 0 1 900px;
    margin: 10px;
}

.itemImage{
    width: 128px;
    padding: 2px;
}

.itemImage img {
    width: 100%;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
    margin: 5px;
    /* border: 1px solid red; */
    padding: 10px;
}

.itemTitle {
    font-family: 'Verdana', sans-serif;
}

.itemTitle a {
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
}

.itemDesc {
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.itemPrice {
    margin-top: 20px;
    color: #f54040;
}

.itemAction {
    display: flex;
    margin-top: 10px;
}

.addToCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}